@import "colorCoding.css";

@media (prefers-color-scheme: dark) {
	html {
		scrollbar-color: var(--cornsilk-white) var(--black);
		}
	body {
		background: var(--bg-dark);
		color: var(--cornsilk-white);
	}
}